---
---
<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="/bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="/bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="/bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="/bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="/bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="/bower_components/app-route/app-location.html">
<link rel="import" href="/bower_components/app-route/app-route.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/bower_components/iron-selector/iron-selector.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../shared-styles.html">
<link rel="import" href="../my-icons.html">
<link rel="import" href="../my-search-bar.html">
<link rel="import" href="../my-snackbar.html">

<link rel="lazy-import" href="../my-home/index.html">
<link rel="lazy-import" href="../my-post/index.html">
<link rel="lazy-import" href="../my-about/index.html">
<link rel="import" href="../my-view404.html">
<link rel="import" href="../my-network-warning.html">

<dom-module id="my-app">
    {% raw %}
    <template>
        <style include="shared-styles">
            :host {
                --app-primary-color: #4285f4;
                --app-secondary-color: black;

                display: block;
            }

            app-drawer-layout:not([narrow]) [drawer-toggle] {
                display: none;
            }

            app-header {
                color: #fff;
                background-color: var(--app-primary-color);
            }

            app-header paper-icon-button {
                --paper-icon-button-ink-color: white;
            }

            .drawer-list {
                margin: 0 20px;
            }

            .drawer-list a {
                display: block;
                padding: 0 16px;
                text-decoration: none;
                color: var(--app-secondary-color);
                line-height: 40px;
            }

            .drawer-list a.iron-selected {
                color: black;
                font-weight: bold;
            }

            .drawer-list div.copyright {
                display: block;
                padding: 0 16px;
                text-decoration: none;
                color: var(--paper-grey-700);
                line-height: 40px;
            }

            .drawer-list hr {
                background-color: #e8e8e8;
                border: none;
                height: 1px;
            }

            iron-icon {
                fill: var(--google-grey-700);
            }
        </style>
        <app-location route="{{route}}" use-hash-as-path=""></app-location>
        <app-route
                route="{{route}}"
                pattern="!/:page"
                data="{{routeData}}"
                tail="{{subroute}}"></app-route>

        <app-drawer-layout fullbleed>
            <!-- Drawer content -->
            <app-drawer id="drawer" slot="drawer">
                <app-toolbar>Menu</app-toolbar>
                <iron-selector selected="[[routeData.page]]" attr-for-selected="name" class="drawer-list"
                               role="navigation">
                    <a name="home" href="#!/home/">
                        <iron-icon icon="my-icons:home"></iron-icon>
                        Home</a>
                    <a name="about" href="#!/about">
                        <iron-icon icon="my-icons:person"></iron-icon>
                        About</a>
                    <a name="feed" href="/feed.xml" target="_blank" rel="noopener">
                        <iron-icon icon="my-icons:rss-feed"></iron-icon>
                        Rss Feed</a>
                    <hr>
                    {% endraw %}
                    {% if site.github_username %}
                    <a name="github" href="https://github.com/{{site.github_username}}" target="_blank" rel="noopener">
                        <iron-icon icon="my-icons:github"></iron-icon>
                        Github</a>
                    {% endif %}
                    {% if site.email %}
                    <a name="email" href="mailto:{{site.email}}">
                        <iron-icon icon="my-icons:email"></iron-icon>
                        Email</a>
                    {% endif %}
                    {% raw %}
                    <hr>
                    <div class="copyright">© 2016, Jinhwan Bae</div>
                </iron-selector>
            </app-drawer>

            <!-- Main content -->
            <app-header-layout has-scrolling-region>

                <app-header slot="header" condenses reveals effects="waterfall">
                    <app-toolbar>
                        <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
                        <div main-title>{% endraw %}{{ site.title }}{% raw %}</div>
                        <my-search-bar active="{{searchActive}}"></my-search-bar>
                    </app-toolbar>
                </app-header>

                <iron-pages
                        selected="[[page]]"
                        attr-for-selected="name"
                        fallback-selection="view404"
                        role="main"
                        selected-attribute="selected">
                    <my-home name="home" route="[[subroute]]"></my-home>
                    <my-post name="post" route="[[subroute]]"></my-post>
                    <my-about name="about"></my-about>
                    <my-view404 name="view404"></my-view404>
                    <my-network-warning name="network-warning"></my-network-warning>
                </iron-pages>
            </app-header-layout>
        </app-drawer-layout>
    </template>
    {% endraw %}
    <script>
        class MyApp extends Polymer.Element {

            static get is() {
                return 'my-app';
            }

            static get properties() {
                return {
                    page: {
                        type: String,
                        reflectToAttribute: true,
                        observer: '_pageChanged',
                    },
                    oldPage: {
                        type: String,
                    },
                    rootPattern: String,
                    routeData: Object,
                    subroute: String,
                    searchActive: {
                        type: Boolean,
                    },
                };
            }

            static get observers() {
                return [
                    '_routePageChanged(routeData.page)',
                ];
            }

            constructor() {
                super();
                window.performance && performance.mark && performance.mark('my-app.created');
            }

            ready() {
                super.ready();
                // listen for online/offline
                Polymer.RenderStatus.afterNextRender(this, () => {
                    window.addEventListener('online', (e) => this._notifyNetworkStatus(e));
                    window.addEventListener('offline', (e) => this._notifyNetworkStatus(e));
                });
            }

            _notifyNetworkStatus() {
                let oldOffline = this.offline;
                this.offline = !navigator.onLine;
                // Show the snackbar if the user is offline when starting a new session
                // or if the network status changed.
                if (this.offline || (!this.offline && oldOffline === true)) {
                    if (!this._networkSnackbar) {
                        this._networkSnackbar = document.createElement('my-snackbar');
                        this.root.appendChild(this._networkSnackbar);
                    }
                    this._networkSnackbar.innerHTML = this.offline ?
                        'You are offline' : 'You are online';
                    this._networkSnackbar.open();
                }
                if ((!this.offline && oldOffline === true) && this.oldPage) {
                    this.page = this.oldPage;
                }
            }

            _routePageChanged(page) {
                this.searchActive = false;
                if (page === undefined) {
                    this.set('route.path', '!/home/');
                    this.page = 'home';
                } else {
                    this.page = page || 'home';
                }
                this.oldPage = this.page;
            }

            _pageChanged(page) {
                let src = '/src/my-' + page;
                if (page === 'network-warning' || page === 'view404') {
                    return;
                } else {
                    src = src + '/index.html';
                }
                let resolvedPageUrl = this.resolveUrl(src);
                Polymer.importHref(
                    resolvedPageUrl,
                    null,
                    this._showErrorPage.bind(this),
                    true);
            }


            _showErrorPage() {
                this.page = 'view404';
            }
        }

        window.customElements.define(MyApp.is, MyApp);
    </script>
</dom-module>
